* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(167, 167, 167);
  --accent: rgb(237, 242, 244);
}

.square {
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  background-color: var(--primary);
}

.clicked {
  background-color: rgb(117, 117, 117);
}

p {
  text-align: center;
}
